<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body class="bg-zinc-800 mx-4">
    <form class="text-white" action="/create" method="POST">
      <input
        class="block w-full my-4 bg-zinc-500 outline-blue-500 rounded p-2 placeholder:text-yellow-100"
        name="title"
        type="text"
        placeholder="Enter your title...."
      />
      <textarea
        class="block w-full bg-zinc-500 resize-none outline-blue-500 rounded p-2 placeholder:text-yellow-100"
        name="details"
        id=""
        placeholder="Enter task details...."
      ></textarea>
      <input
        class="bg-blue-600 mt-4 px-3 py-1 rounded-lg"
        type="submit"
        value="create"
      />
    </form>
    <div class="flex flex-wrap tasks">
      <% if(files.length>0) { %> <% files.forEach((file)=> {%>
      <div class="task bg-zinc-700 text-white w-73 p-4 m-4">
        <h1 class="w-full tracking-tighter text-3xl"><%= file %></h1>
        <a class="inline-block text-blue-400" href="">Read more...</a>
      </div>
      <%})%> <% } else { %>
      <h3 class="mt-4 text-white">no task here.</h3>
      <% } %>
    </div>
  </body>
  <!-- dont write /public at first since you are already serving static files -->
  <script src="Javascripts/script.js"></script>
</html>
