<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    Hello <%=2+2%>
  </body>
  <!-- dont write /public at first since you are already serving static files -->
  <script src="Javascripts/script.js"></script>
</html>
