<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body class="bg-red-900"></body>
  <!-- dont write /public at first since you are already serving static files -->
  <script src="Javascripts/script.js"></script>
</html>
